<div class="auth-card">
  @if (linkIsValid) {
    <h1>{{ 'resetPassword.title' | translate }}</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        {{ 'resetPassword.newPassword' | translate }}
        <input type="password" formControlName="newPassword" autocomplete="new-password" />
      </label>

      <label>
        {{ 'resetPassword.confirmPassword' | translate }}
        <input type="password" formControlName="confirmPassword" autocomplete="new-password" />
      </label>

      @if (form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched) {
        <p class="error">{{ 'resetPassword.passwordMismatch' | translate }}</p>
      }

      <button type="submit">{{ 'resetPassword.submit' | translate }}</button>
    </form>
  } @else {
    <h1>{{ 'resetPassword.invalidLinkTitle' | translate }}</h1>
    <p>{{ 'resetPassword.invalidLinkBody' | translate }}</p>
    <p class="switch"><a routerLink="/forgot-password">{{ 'resetPassword.requestNewLink' | translate }}</a></p>
  }
</div>
