<div class="auth-card">
  <h1>{{ 'register.title' | translate }}</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>
      {{ 'register.firstName' | translate }}
      <input type="text" formControlName="firstName" autocomplete="given-name" maxlength="100" />
    </label>

    <label>
      {{ 'register.lastName' | translate }}
      <input type="text" formControlName="lastName" autocomplete="family-name" maxlength="100" />
    </label>

    <label>
      {{ 'register.email' | translate }}
      <input type="email" formControlName="email" autocomplete="email" maxlength="320" />
    </label>

    <label>
      {{ 'register.password' | translate }}
      <input type="password" formControlName="password" autocomplete="new-password" maxlength="128" />
    </label>

    <label>
      {{ 'register.role' | translate }}
      <select formControlName="role">
        <option value="Owner">{{ 'register.roleOwner' | translate }}</option>
        <option value="Agent">{{ 'register.roleAgent' | translate }}</option>
        <option value="Buyer">{{ 'register.roleBuyer' | translate }}</option>
      </select>
    </label>

    <button type="submit">{{ 'register.submit' | translate }}</button>
  </form>

  <p class="switch">{{ 'register.haveAccount' | translate }} <a routerLink="/login">{{ 'register.loginLink' | translate }}</a></p>
</div>
