<div class="auth-card">
  @if (submitted()) {
    <h1>{{ 'forgotPassword.checkEmailTitle' | translate }}</h1>
    <p>{{ 'forgotPassword.checkEmailBody' | translate }}</p>
  } @else {
    <h1>{{ 'forgotPassword.title' | translate }}</h1>
    <p>{{ 'forgotPassword.intro' | translate }}</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        {{ 'forgotPassword.email' | translate }}
        <input type="email" formControlName="email" autocomplete="email" />
      </label>

      <button type="submit">{{ 'forgotPassword.submit' | translate }}</button>
    </form>
  }

  <p class="switch"><a routerLink="/login">{{ 'forgotPassword.backToLogin' | translate }}</a></p>
</div>
